@page
@model WebApplication1.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<p>Enter your name here:</p>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Name: <input asp-for="Customer.Name" /></div>
    
    <input type="submit" />
</form>

<p>Imma gay</p>
<form>
    <div>Answer YES/NO: </div>

</form>