@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@customer.Id">edit</a>
                    
                    <button type="submit" asp-page-handler="delete"
                            asp-route-id="@customer.Id">delete</button>

                </td>
            </tr>
        }
        <tbody>
        FOR SOMETHING HERE

        </tbody>


    </table>
       <a asp-page="./Create">Create</a>

</form>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
